* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    background-color: #282828;
}

header {
    padding: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
}

header a {
    position: absolute;
    top: 0;
    right:0;
}

a:hover {
    cursor: pointer;
}

header h1 {
    border: 2px solid black;
    width: 150px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}


.clock {
    border: 3px solid white;
    margin: 180px auto;
    width: 400px;
    height: 173px;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: center;
    color: white;
    font-size: 60px;
}

#ampm {
    padding: 10px;
    font-size: 36px;
}

